
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div id="map-canvas" style="width: 400px; height: 400px; float: left;">

</div>

<div id="coordsLog" style="margin-left: 10px;">
    
</div>

@section Scripts
{

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?callback=initialize">



    </script>

    <script>
        var infowindow;// = new google.maps.InfoWindow();

        function initialize() {
            infowindow = new google.maps.InfoWindow();
            var mapDiv = document.getElementById('map-canvas');
            var map = new google.maps.Map(mapDiv, {
                center: new google.maps.LatLng(37.4419, -122.1419),
                zoom: 13,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            function createMarker(latlon, title, iwContent, id) {
                /*   var marker = new google.maps.Marker({
                    position: latlon,
                    title: title,
                    map: map
                });*/
                var radius = new google.maps.Circle({
                    map: map,
                    radius: 100,
                    position: latlon,
                    center: latlon,
                    fillColor: '#777',
                    fillOpacity: 0.1,
                    strokeColor: '#AA0000',
                    strokeOpacity: 0.8,
                    strokeWeight: 2,
                    draggable: false, // Dragable
                    editable: false, // Resizable
                    id: id
                });

                google.maps.event.addListener(radius, 'click', function() {
                    infowindow.setContent(iwContent);
                    infowindow.open(map, radius);
                });
            }

            $.ajax({
                type: "GET",
                url: "/api/Geo/GetAll",
                dataType: "json",
                success: function(result) {

                    for (var i = 0; i < result.Results.length; i++) {
                        var point = result.Results[i];


                        var markerLatlng = new google.maps.LatLng(point.Lat, point.Long);
                        var title = "Point Details";
                        var iwContent = "Point id: " + point.ID;

                        createMarker(markerLatlng, title, iwContent, point.id);
                    }


                },
                error: function(request, status, error) {
                    $('#coordsLog').append('Could not fetch coords!');
                }
            });


            google.maps.event.addListener(map, "click", function(event) {
                var latitude = event.latLng.lat();
                var longitude = event.latLng.lng();
                // console.log(latitude + ', ' + longitude)

                // Center of map
                //  map.panTo(new google.maps.LatLng(latitude, longitude));
                var SaveCoords = {};

                SaveCoords.Long = longitude;
                SaveCoords.Lat = latitude;

                $.ajax({
                    type: "POST",
                    url: "/api/Geo/Save",
                    data: SaveCoords,
                    dataType: "json",
                    success: function(result) {

                        if (result.Success) {
                            SaveCoords = result.Results;

                   
                                var markerLatlng = new google.maps.LatLng(SaveCoords.Lat, SaveCoords.Long);
                                var title = "Point Details";
                                var iwContent = "Point id: " + SaveCoords.ID;

                                createMarker(markerLatlng, title, iwContent, SaveCoords.id);
                            

                            $('#coordsLog').append('latlng ' + latitude + ", " + longitude + "<br/>");
                        } else {
                            $('#coordsLog').append('Error: Coords not saved.<br/>');
                        }

                    },
                    error: function(request, status, error) {
                        $('#coordsLog').append('Error: Coords not saved.<br/>');
                    }
                });
                

            }); //end addListener
        }
    </script>
}
